<div class="main pt-2">
  <div class="container main__container">
    <div class="main__user d-flex justify-content-start align-items-center mb-4">
      <div class="main__user_image rounded-circle d-flex justify-content-center me-2">
        <img src="../../../assets/images/user.png" alt="User">
      </div>
      <div class="main__user_info">
        <div class="main__user_person">Имя и Фамилия</div>
        <div class="main__user_id">
          <span>ID пользователя: </span>
          <span>00</span>
        </div>
      </div>
    </div>
    <div class="main__form">
      <div class="main__form_label mb-2">Сообщение</div>
      <input type="text" class="main__form_input mb-3 w-50 rounded-1 border-0 ps-2">
      <div class="main__form_action">
        <button type="button" class="btn btn-primary">Сообщение</button>
      </div>
    </div>
  </div>
</div>
