@font-face {
  src: url("../fonts/Montserrat-Regular.ttf");
  font-family: Montserrat;
  font-weight: 400;
}

@font-face {
  src: url("../fonts/Inter-Bold-700.ttf");
  font-family: InterBold;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  src: url("../fonts/Inter-Regular.ttf");
  font-family: InterRegular;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  src: url("../fonts/Inter-Medium.ttf");
  font-family: InterMedium;
  font-style: normal;
  font-weight: 500;
}

@font-face {
  src: url("../fonts/Inter-SemiBold.ttf");
  font-family: InterSemiBold;
  font-style: normal;
  font-weight: 600;
}
